@charset "UTF-8";
html {
    font-size: 26px;
    text-align: center;
    background-color: white;
}
body {
    background-color: #d7cebb;
}
h1 {
    font-size: 2rem;
    color: #80796c;
    /*font-family: Pinyon Script;*/
    font-family: "Sawarabi Mincho";
    background-color:#afa07f;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-width: medium;
    border-style: ridge;

}
h2 {
    font-family: "Sawarabi Mincho";
    color: #242547;
}
h3{
    color: #5b5c76;
}
p {
    font-size: 20px;
    font-family: "Sawarabi Mincho";

}
